#main{height:5000px;width:100%;background:#00C;margin-left:auto;margin-right:auto}

/*header*/
    #header{height:800px;width:100%;background:#F00}
    #menu{height:100px;width:100%;background:#FF0}
        .menuCenter{
            background:#ff6b6b;width:100%;height:35px;margin:12px auto;
        }
        ol.breadcrumb li {
            float: right;
        }
    #banner{height:700px;width:100%;background:#0C6}

/*about*/
    #about{background:#F0F;width:100%;height:400px}
    #aboutLeft{background:#934;height:100%;width:20%;float:left}
    #aboutMain{background:#3ff;height:100%;width:60%;float:left}
        .trang1{
            height: 80px; width: 100%;background: #dff9fb;
        }
        .tenAbout1{
            height: 42px; width: 50%; margin: auto;text-align: center;
        }
        .trang2{
            height: 20px; width: 100%;background: #dff9fb;
        }
        .gioiThieu1{
            height: 102px; width: 50%; margin: auto;text-align: center;
        }
        .imgAbout1{
            height: 57px; width: 222px;margin: auto
        }
        .trang3{
            height: 80px; width: 100%;background: #dff9fb;
        }
    #aboutRight{background:#9de;height:100%;width:20%;float:left}

/*aboutProject*/
    #aboutProject{background:#ff6b6b;width:100%;height:443px}
    #aboutProjectLeft{background:#c8d6e5;height:100%;width:20%;float:left}
    #aboutProjectMain{background:#5f27cd;height:100%;width:60%;float:left}
        .trang4{
            height: 80px; width: 100%;background: #dff9fb;
        }
        .tenAbout2{
            height: 42px; width: 50%; margin: auto;text-align: center;
        }
        .trang5{
            height: 20px; width: 100%;background: #dff9fb;
        }
    #aboutProjectRight{background:#f368e0;height:100%;width:20%;float:left}

/*slogan*/
    #slogan{background:#e84118;width:100%;height:443px}
        .trang6{
            height: 60px; width: 100%;background: #dff9fb;
        }
        .mainSlogan{
            height: 230px; width: 100%;background: #be2edd;
        }

/*doiTac*/
    #doiTac{background:#fbc531;width:100%;height:202px}

/*dichVu*/
    #dichVu{background:#2f3640;width:100%;height:856px}

/*contactInto*/
    #contactInto{background:#ff7979;width:100%;height:609px}

/*footer*/
    #footer{background:#6ab04c;width:100%;height:161px}
